# Naive Bayes

In [1]:
# Importando bibliotecas
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB

In [2]:
# Carregando o arquivo de dados

df = pd.read_csv("weather_dataset.csv")

df

     Outlook Temperature Humidity Windy Play
0      Rainy         Hot     High     f   no
1      Rainy         Hot     High     t   no
2   Overcast         Hot     High     f  yes
3      Sunny        Mild     High     f  yes
4      Sunny        Cool   Normal     f  yes
5      Sunny        Cool   Normal     t   no
6   Overcast        Cool   Normal     t  yes
7      Rainy        Mild     High     f   no
8      Rainy        Cool   Normal     f  yes
9      Sunny        Mild   Normal     f  yes
10     Rainy        Mild   Normal     t  yes
11  Overcast        Mild     High     t  yes
12  Overcast         Hot   Normal     f  yes
13     Sunny        Mild     High     t   no

In [3]:
# Definindo as variáveis de entrada e saída

X = df.drop(columns=["target"])
y = df["target"]

In [4]:
# Visualizando as variáveis de entrada

inputs

     Outlook Temperature Humidity Windy
0      Rainy         Hot     High     f
1      Rainy         Hot     High     t
2   Overcast         Hot     High     f
3      Sunny        Mild     High     f
4      Sunny        Cool   Normal     f
5      Sunny        Cool   Normal     t
6   Overcast        Cool   Normal     t
7      Rainy        Mild     High     f
8      Rainy        Cool   Normal     f
9      Sunny        Mild   Normal     f
10     Rainy        Mild   Normal     t
11  Overcast        Mild     High     t
12  Overcast         Hot   Normal     f
13     Sunny        Mild     High     t

In [5]:
# Visualizando a variável de saída

target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [6]:
# Definindo variável de Encoding (strings para numérico)

label_encoder = LabelEncoder()

In [7]:
# Criando as colunas numéricas correspondentes

inputs['Outlook_numerical'] = label_encoder.fit_transform(inputs['Outlook'])

inputs['Temp_numerical'] = label_encoder.fit_transform(inputs['Temperature'])

inputs['Hum_numerical'] = label_encoder.fit_transform(inputs['Humidity'])

inputs['Win_numerical'] = label_encoder.fit_transform(inputs['Windy'])

inputs

,Outlook,Temperature,Humidity,Windy,Outlook_numerical,Temp_numerical,Hum_numerical,Win_numerical
0,Rainy,Hot,High,f,1,1,0,0
1,Rainy,Hot,High,t,1,1,0,1
2,Overcast,Hot,High,f,0,1,0,0
3,Sunny,Mild,High,f,2,2,0,0
4,Sunny,Cool,Normal,f,2,0,1,0
5,Sunny,Cool,Normal,t,2,0,1,1
6,Overcast,Cool,Normal,t,0,0,1,1
7,Rainy,Mild,High,f,1,2,0,0
8,Rainy,Cool,Normal,f,1,0,1,0
9,Sunny,Mild,Normal,f,2,2,1,0
10,Rainy,Mild,Normal,t,1,2,1,1
11,Overcast,Mild,High,t,0,2,0,1
12,Overcast,Hot,Normal,f,0,1,1,0
13,Sunny,Mild,High,t,2,2,0,1

In [8]:
# Descartando as colunas originais do dataframe (não-numéricas)

inputs_numerical = inputs.drop(['Outlook', 'Temperature', 'Humidity', 'Windy'], axis = 'columns')

inputs_numerical

    Outlook_numerical  Temp_numerical  Hum_numerical  Win_numerical
0                   1               1              0              0
1                   1               1              0              1
2                   0               1              0              0
3                   2               2              0              0
4                   2               0              1              0
5                   2               0              1              1
6                   0               0              1              1
7                   1               2              0              0
8                   1               0              1              0
9                   2               2              1              0
10                  1               2              1              1
11                  0               2              0              1
12                  0               1              1              0
13                  2               2              0              1

In [9]:
# Definindo o classificador Gaussian Naive Bayes

classifier = GaussianNB()

In [10]:
# Treinando o classificador Gaussian Naive Bayes

classifier.fit(inputs_numerical, target)

GaussianNB()

In [11]:
# Calculando o score do classificador

classifier.score(inputs_numerical, target)

0.8571428571428571

In [12]:
# Realizando predição em um dado novo
# Outlook: Overcast, Temperature: Cool, Humidity: High, Windy: t

classifier.predict([[0, 0, 0, 1]])

array(['yes'], dtype='<U3')